<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div id="result"></div>
    <form class="form-inline" action="">
        <div class="form-group">
            <input type="text" class="form-control" id="m" autocomplete="off" placeholder="请输入您的昵称">
        </div>
        <button type="submit" class="btn btn-info">发送</button>
    </form>
</div>

<script>
    if ("WebSocket" in window) {
        var ws = new WebSocket("ws://localhost:8080/websocket");

        var result = document.querySelector('#result');

        ws.onopen = function(ev) {
            alert("connected success");
            console.log('已连接上！');
            ws.send("msg");
        };

        document.querySelector('form').onsubmit = function(e) {
            var msg = document.querySelector('#m').value;
            ws.send("msg");
            return false;
        }
        ws.onmessage = function(e) {
            console.log(e.data);
            result.innerHTML = e.data;
        }
        ws.onclose = function() {
            console.log('连接已关闭！');
        }
    } else {
        alert('您的浏览器不支持 WebSocket！');
    }
</script>
</body>
</html>